body{
    padding-top:150px;
}
.breadcrumb-custom{
    padding: 12px 15px 12px;
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 87px;
    list-style: none;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -moz-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    z-index: 999;
}
