@CHARSET "UTF-8";

#pane {
	margin-top: 120px;
}

body {
	background-color: #F9F9F9;
}

.breadcrumb {
	background-color: #00accd;
	border-bottom: 1px solid #CCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	box-shadow: 0px 0px 10px #CCC;
	color: #FFFFFF;
	margin-top: -15px;
	padding-bottom : 0px;
}

#appendedInput {
	height: 32px;
}

.center {
	text-align: center;
}

span.red {
	color: red;
}

.or {
	margin-top: 85px;
	margin-left: 105px;
}

.panel {
	width: 700px;
}

.panel-body {
	margin-bottom: 25px;
}

.image {
	width: 200px;
	height: 200px;
}

div.label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    font-weight: 400 !important;
}
div.label.input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    overflow: hidden;
}

.padding-side{
margin-right: 20px;
}

.padding-left{
margin-left: 645px;
}
