<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true">
        <intercept-url pattern="/admin/login" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/admin/home" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/admin/report/**" access="ROLE_NDLM_ADMIN"  />
        <intercept-url pattern="/admin/**" access="ROLE_companyname_ADMIN" />
        <form-login
                login-page="/admin/login"
                default-target-url="/admin/home"
                authentication-failure-url="/admin/login?error=true"
                username-parameter="j_username"
                password-parameter="j_password" />
        <logout logout-success-url="/admin/login?logout=true" />
    </http>

    <authentication-manager>
        <!--<authentication-provider>-->
            <!--<user-service>-->
                <!--<user name="shanky.mittal@companyname.com" password="shanky123" authorities="ROLE_companyname_ADMIN" />-->
            <!--</user-service>-->
        <!--</authentication-provider>-->
        <authentication-provider user-service-ref='myUserDetailsService'/>
    </authentication-manager>

</beans:beans>